<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Calzados Cintia Kentros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   </head>
<body>
{{>index}}

{{body}}

</body>
</html>
<style>
    html *
    {

        font-family: 'Lora', serif ;
        letter-spacing: 1px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" type="text/javascript"></script>