<div style="position: absolute; text-align: center; width: 100%; height: 100%; vertical-align: middle; display: inline-flex; justify-content: center; flex-direction: column">
    <h1 style="align-self: center;font-size: 50px; color:#ab3939">BIENVENIDO A SHERLOCK <img src="/img/eye-open (64).png"></h1>
    <a type="button" class="btn" style="max-height: 40px; max-width: 150px;align-self: center; color:#925159; font-size: 20px"  href="/recomendation">Empezar!  <i class="fas fa-rocket"></i></a>
</div>


<style>
    .btn-start{
        content: '\f135';
        font-family: 'FontAwesome';
        padding-left: 5px;
    }
</style>